<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'boards:all_products_list' %}">投稿一覧</a>
        <a class="navbar-brand" href="{% url 'boards:product_list' %}">検索する</a>
        <a class="navbar-brand" href="{% url 'boards:store_input' %}">投稿する</a>
        <a class="navbar-brand" href="{% url 'boards:users_product_list' %}">マイページ</a>
        <a class="navbar-brand" href="{% url 'accounts:user_logout' %}">ログアウト</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'accounts:user_login' %}">ログイン</a>
        <a class="navbar-brand" href="{% url 'accounts:regist' %}">ユーザー登録</a>
        {% endif %}
      </nav>
      {% block content %}{% endblock %}
   </body>
</html>